.footer {
    background-color: darkblue;
    padding: 20px;
    text-align: center;
    height: auto;
  }
  
  .footer-content {
    display: flex;
    flex-direction: column;
  }
  
  .author, .company, .link {
    color: #f0f0f0;
    font-size: 14px;
    margin-bottom: 5px;
    text-decoration: none;
  }

  .link {
    font-weight: bold;
  }