/* LOGIN */
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  width: 100%;
  height: 90vh;
}

/* LOGO */
.login__logo {
  width: 15rem;
  margin-bottom: 1rem;
}

/* LOGIN SECTION CONTAINER */
.login__container {
  width: 20%;
  padding: 2rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  background-color: #d3d3d3;
}

/* INFO SECTION */
.login__info {
  display: flex;
  justify-content: space-between;
}

.login__title {
  margin-bottom: 2rem;
  margin-top: 0;
  font-size: 1.3rem;
}

.login__icon {
  display: flex;
  color: #007bff;
  position: relative;
  cursor: pointer;
}

.login__icon:hover,
.login__icon:active,
.login__icon:focus {
  color: #0056b3;
}

.login__tooltip {
  white-space: nowrap;
}

/* FORM SECTION */
.login__form-group {
  margin-bottom: 2rem;
}

.login__label {
  font-weight: bold;
}

.login__input {
  width: 100%;
  padding: 0.8rem;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  box-sizing: border-box;
}

/* SUBMIT BUTTON */
.login__button {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 0.3rem;
  background-color: #007bff;
  color: #fff;
  font-size: 1.2rem;
  cursor: pointer;
}

.login__button:hover,
.login__button:focus,
.login__button:active {
  background-color: #0056b3;
}

/* MEDIA */
@media (max-width: 768px) {
  *, *::before, *::after {
    box-sizing: border-box;
  }

  /* LOGIN */
  .login {
    padding: 1rem;
    margin: 0;
    width: 100vw;
    height: 100vh;
  }

  /* LOGIN SECTION CONTAINER */
  .login__container {
    width: 90%;
    max-width: 100%;
    padding: 1rem;
    margin: 0 auto;
  }

  /* LOGO */
  .login__logo {
    width: 8rem;
    margin-bottom: 1rem;
  }

  /* INFO SECTION */
  .login__title {
    font-size: 1.2rem;
    text-align: center;
  }

  /* SUBMIT BUTTON */
  .login__button {
    font-size: 1rem;
  }
}
