<div class="login">
    <img class="login__logo" src="assets/images/logo.png" alt="Bossa Web Solutions" />
    <div class="login__container">
        <div class="login__info">
            <h3 class="login__title">Login</h3>
            <mat-icon
                    class="login__icon"
                    [matTooltip]="tooltipText"
                    matTooltipClass="login__tooltip">
                info
            </mat-icon>
        </div>
        <form class="login__form" (ngSubmit)="onSubmit()">
            <div class="login__form-group">
                <label for="username" class="login__label">Usuário:</label><br>
                <input type="text" id="username" name="username" [(ngModel)]="username" class="login__input">
            </div>
            <div class="login__form-group">
                <label for="password" class="login__label">Senha:</label><br>
                <input type="password" id="password" name="password" [(ngModel)]="password" class="login__input">
            </div>
            <button type="submit" class="login__button">Login</button>
        </form>
    </div>
    <app-footer></app-footer>
</div>