/* PRODUCTS COMPONENT ROOT */
.products {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  text-align: center;
  background-color: #f0f0f0;
  padding: 3vh;
}

/* PRODUCTS TITLE */
.products__title {
  margin-bottom: 2vh;
}

/* PRODUCTS TABLE */
.products__table {
  width: 100%;
  border-collapse: collapse;
}

.products__table-heading {
  background-color: gray;
  color: white;
  text-align: left;
  border: 0.1rem solid #ddd;
  padding: 0.8rem;
}

.products__table-cell {
  border: 0.1rem solid #ddd;
  padding: 0.8rem;
}

.products__table-row:nth-child(even) {
  background-color: #f2f2f2;
}

.products__table-row:hover {
  background-color: #ddd;
}

/* PRODUCTS PRICE & CATEGORY */
.products__price {
  color: red;
}

.products__category {
  color: #0056b3;
}

/* PRODUCTS AVAILABILITY */
.products__availability--available {
  color: green;
}

.products__availability--not-available {
  color: red;
}

/* PRODUCTS ACTION BUTTONS */
.products__action-buttons button {
  margin-right: 1vw;
}

/* PRODUCTS BUTTONS */
.products__btn--edit, .products__btn--undo {
  color: goldenrod;
}

.products__btn--delete {
  color: red;
}

.products__btn--save {
  color: green;
}

.products__table-row--edit-mode input[type="text"],
.products__table-row--edit-mode input[type="number"],
.products__table-row--edit-mode textarea,
.products__table-row--edit-mode input[type="checkbox"] {
  width: 100%;
  padding: 0.8rem;
  border: 0.1rem solid #ccc;
  border-radius: 0.4rem;
  box-sizing: border-box;
}

/* PRODUCTS SORT ICON */
.products__sort-icon {
  color: #d3d3d3;
}

/* MEDIA QUERY FOR SMALL SCREENS */
@media (max-width: 768px) {
  /* PRODUCTS COMPONENT */
  .products {
    overflow-x: hidden;
    padding: 0;
  }

  /* PRODUCTS TABLE */
  .products__table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.9rem;
    table-layout: fixed;
    display: table;
    justify-content: center;
    align-self: center;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
  }

  /* TABLE ROWS */
  .products__table-row {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    border: 1px solid #ddd;
    padding: 1rem;
  }

  /* TABLE CELLS */
  .products__table-cell {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
    border-bottom: 1px solid #ddd;
    text-align: center;
    position: relative;
    word-wrap: break-word;
  }

  /* ADD DATA HEADING FOR CELLS */
  .products__table-cell::before {
    content: attr(data-heading);
    font-weight: bold;
    display: block;
    margin-right: 1rem;
    margin-left: 0.3rem;
  }

  /* HIDE ORIGINAL TABLE HEADINGS */
  .products__table-heading {
    display: none;
  }

  /* REMOVE BORDER FOR FIRST ROW */
  .products__table-row {
    border: none;
  }
}
