<div class="welcome">
    <h1 class="welcome__title">Boas Vindas ao Cadastro de Produtos</h1>
    <p class="welcome__logged">Usuário logado: 
      <span 
        class="welcome__user-role" 
        [class.welcome__user-role--user]="currentUserRole === 'user'" 
        [class.welcome__user-role--admin]="currentUserRole === 'admin'">
        {{ currentUserRole }}
      </span>
    </p>
    <p class="welcome__description">Nesta página você pode ver todos os produtos, cadastrar novos ou remover existentes</p>
    <button class="welcome__button" (click)="logout()">Desconectar</button>
</div>
