<div class="holder">
    <div class="container">
        <h3>Adicionar Novo Produto</h3>
        <form (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="productName">Nome</label><br>
                <input type="text" class="form-control" id="name" name="name" required [(ngModel)]="newProduct.name">
            </div>
            <div class="form-group">
                <label for="description">Descrição</label><br>
                <textarea id="description" name="description" class="form-control" required [(ngModel)]="newProduct.description"></textarea>            
            </div>
            <div class="form-group">
                <label for="price">Preço</label><br>
                <input type="number" id="price" name="price" required [(ngModel)]="newProduct.price" class="form-control">
            </div>
            <div class="form-group">
                <label for="category">Categoria</label>
                <select id="category" name="category" class="form-control" required [(ngModel)]="newProduct.category">
                    <option *ngFor="let category of categories" [value]="category.name">{{ category.name }}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="available">Disponibilidade</label><br>
                <input type="checkbox" id="available" name="available" [(ngModel)]="newProduct.available" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary">Adicionar</button>
        </form>
    </div>
</div>
