<div class="add-product">
    <div class="add-product__container">
        <h3 class="add-product__title">Adicionar Novo Produto</h3>
        <form class="add-product__form" (ngSubmit)="onSubmit(form)" #form="ngForm">
            <div class="add-product__form-group">
                <label class="add-product__label" for="productName">Nome</label>
                <input type="text" class="add-product__input" id="name" name="name" required [(ngModel)]="newProduct.name">
            </div>
            <div class="add-product__form-group">
                <label class="add-product__label" for="description">Descrição</label>
                <textarea id="description" name="description" class="add-product__input add-product__textarea" required [(ngModel)]="newProduct.description"></textarea>            
            </div>
            <div class="add-product__form-group">
                <label class="add-product__label" for="price">Preço</label>
                <input type="number" id="price" name="price" required [(ngModel)]="newProduct.price" class="add-product__input">
            </div>
            <div class="add-product__form-group">
                <label class="add-product__label" for="category">Categoria</label>
                <select id="category" name="category" class="add-product__input" required [(ngModel)]="newProduct.category">
                    <option *ngFor="let category of categories" [value]="category.name">{{ category.name }}</option>
                </select>
            </div>
            <div class="add-product__form-group">
                <div class="add-product__availability-container">
                    <label class="add-product__label" for="available">Disponibilidade</label>
                    <input type="checkbox" id="available" name="available" [(ngModel)]="newProduct.available" class="add-product__input-checkbox">
                </div>
            </div>
            <button type="submit" class="add-product__button">Adicionar</button>
            <div *ngIf="formError" class="error-message">
                Todos os campos devem ser preenchidos.
            </div>
        </form>
    </div>
</div>